body{
    margin: 0;
    padding: 0;
}


h1{
    background-color: brown;
    color:white;
    margin: 0;
    padding: 20px;
    text-align: center;
}


a{
    color: blue;

}

.container{
    width: 600px;
    margin: 20px auto;
    border: 1px solid red;
    border-radius: 5px;
    padding: 10px;
}

input[type=text] , input[type=number]
{
     width: 100%;
     padding: 8px;
     margin: 8px 0;
     box-sizing: border-box;
     border: 1px solid #960000;

}

input[type=button] 
{
    background-color: #7a0000;
    color: white;
    padding: 10px;
    border:none;
    border-radius: 5px;
    margin-right: 5px ;
    width: 100px;
}